/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3/12/2017, 04:32:35 PM
    Author     : pablo
*/

html, body, * {
				font-family: Arial, sans-serif;
				text-align: center;
				font-size: 20px;
			}